<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Library</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderServlet</display-name>
    <servlet-name>ReaderServlet</servlet-name>
    <servlet-class>com.web.servlet.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderServlet</servlet-name>
    <url-pattern>/reader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.web.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowManageServlet</display-name>
    <servlet-name>BorrowManageServlet</servlet-name>
    <servlet-class>com.web.servlet.BorrowManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowManageServlet</servlet-name>
    <url-pattern>/borrowManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackManageServlet</display-name>
    <servlet-name>BackManageServlet</servlet-name>
    <servlet-class>com.web.servlet.BackManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackManageServlet</servlet-name>
    <url-pattern>/backManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowSearchServlet</display-name>
    <servlet-name>BorrowSearchServlet</servlet-name>
    <servlet-class>com.web.servlet.BorrowSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowSearchServlet</servlet-name>
    <url-pattern>/borrowSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForfeitManageServlet</display-name>
    <servlet-name>ForfeitManageServlet</servlet-name>
    <servlet-class>com.web.servlet.ForfeitManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForfeitManageServlet</servlet-name>
    <url-pattern>/forfeitManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookreaderServlet</display-name>
    <servlet-name>BookreaderServlet</servlet-name>
    <servlet-class>com.web.servlet.BookreaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookreaderServlet</servlet-name>
    <url-pattern>/bookreader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderborrowServlet</display-name>
    <servlet-name>ReaderborrowServlet</servlet-name>
    <servlet-class>com.web.servlet.ReaderborrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderborrowServlet</servlet-name>
    <url-pattern>/readerborrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReaderforfeitServlet</display-name>
    <servlet-name>ReaderforfeitServlet</servlet-name>
    <servlet-class>com.web.servlet.ReaderforfeitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderforfeitServlet</servlet-name>
    <url-pattern>/readerforfeit</url-pattern>
  </servlet-mapping>
</web-app>